<!-- Gitment -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'hypertasyzoy', // 可选。默认为 location.href
  owner: 'hypertasyzoy',
  repo: 'hypertasyzoy.github.io',
  oauth: {
    client_id: '51b1b13bef8f4bd0c6af',
    client_secret: '35cb38b2d337666a2b9749e2c644bf6302a98f00',
  },
})
gitment.render('container')
</script>